/* Primer carrusel */
.carousel-container {
  width: 99%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

/* Sección 'Lo nuevo' */
.contenido {
  width: 90%;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contenido .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido p {
  color: #1E1E1E;
  font-size: 24px;
}

.contenido a {
  color: #F24822;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.contenido a:hover {
  color: #D43B1B;
}

/* Contenedor de productos */
.latest-products-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 0;
  gap: 20px;
  margin-top: 20px;
}

/* Tarjetas de productos */
.product-card {
  flex: 0 0 auto;
  width: 250px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Imágenes de productos */
.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.product-card p {
  margin: 5px 0;
  color: #F24822;
  font-weight: bold;
}



/* Contenedor del segundo carrusel */
.second-carousel-container {
  width: 99%;
  margin: 0 auto;
  background-color: #3a9be1;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}

/* Carrusel (slick) */
.second-carousel-slider {
  width: 99%;
  max-width: 2000px;
  margin: 0 auto;
}

/* Imágenes dentro del carrusel */
.carousel-image2 {
  width: 80%;
  height: auto;
}

/* Imagen central más grande */
.slick-center .carousel-image2 {
  transform: scale(1.1);
  opacity: 1;
}

/* Flechas de navegación */
.second-carousel-container .slick-prev,
.second-carousel-container .slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.second-carousel-container .slick-prev {
  left: 10px;
}

.second-carousel-container .slick-next {
  right: 10px;
}

.imageContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.offerBadge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: auto;
}

.offerBadge img {
  width: 100%;
  height: auto;
}


/* Responsividad */
@media (max-width: 1024px) {
  .second-carousel-container {
    width: 99%;
    margin: 0 auto;
  }

  .second-carousel-slider {
    width: 100%;
  }

  .carousel-image2 {
    width: 80%;
  }
}


@media (max-width: 768px) {

  .second-carousel-container {
    min-height: 250px;
    padding: 10px 0;
  }

  .second-carousel-slider {
    width: 100%;
  }

  .carousel-image2 {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .carousel-image2 {
    width: 85%;
  }

  .second-carousel-container {
    min-height: auto;
    padding: 10px 0;
  }

  .second-carousel-slider {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
