.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.navbar-icons {
    display: flex;
    gap: 15px;
}

.search-btn,
.cart-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.search-btn:hover,
.cart-btn:hover {
    color: #0071e3;
}

.icon {
    font-size: 1.5rem;
    color: #00AEF2;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #018BD5;
}

.logo-image {
    width: 150px;
    height: auto;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #0071e3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    overflow: hidden;
    padding: 20px 40px;
    box-sizing: border-box;
}

.menu ul {
    list-style-type: none;
    margin: 10px;
    top: auto;
    padding: 0;
    width: 100%;
}

.menu li {
    padding: 15px 0;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    display: block;
}

.menu li a:hover {
    color: #0071e3;
}

.instagram-icon {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 20px 0;
    gap: 10px;
}

.instagram-icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.instagram-icon img {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.instagram-icon img:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.media-text {
    margin-top: 4px;
    font-size: 1rem;
    color: #888888;
    font-weight: 500;
    text-align: center;
}

@media (min-width: 1024px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }

    .menu li a {
        font-size: 3rem;
    }

    .instagram-icon img {
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        font-size: 1.8rem;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
    }

    .navbar-icons {
        display: flex;
        gap: 15px;
    }

    .logo-image {
        width: 150px;
        height: auto;
    }

    .menu li a {
        font-size: 2rem;
    }

    .instagram-icon img {
        width: 4.5rem;
        height: 4.5rem;
    }

    h1 {
        font-size: 2rem;
    }
    
    .media-text {
        font-size: 0.75rem;
        color: #888888; 
    }
}

@media (max-width: 768px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        font-size: 1.8rem;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
    }

    .navbar-icons {
        display: flex;
        gap: 15px;
    }

    .logo-image {
        width: 150px;
        height: auto;
    }

    .menu li a {
        font-size: 1.5rem;
    }

    .instagram-icon img {
        width: 4rem;
        height: 4rem;
    }

    .search-btn,
    .cart-btn {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1rem;
    }

    .media-text {
        font-size: 0.75rem;
        color: #888888;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .navbar-logo {
        font-size: 1.8rem;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .search-btn,
    .cart-btn {
        font-size: 1.2rem;
    }

    .logo-image {
        width: 150px;
        height: auto;
    }

    .menu li a {
        font-size: 1.5rem;
    }

    .instagram-icon img {
        width: 3rem;
        height: 3rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    .media-text {
        font-size: 0.65rem;
        color: #888888;
    }
}

.cancel-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cancel-btn:hover {
    background-color: transparent;
    color: #0071e3;
}

.icon-logo {
    width: 20px;
    height: auto;
}

h1 {
    color: rgba(0, 0, 0, 0.849);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    cursor: default;
}
